html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: hsl(0, 0%, 85%);
    background-color: #121212;
}

body {
    background-color: #333333;
}

#content {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    background-color: #464646;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    overflow: hidden;
    margin: 20px 20px 0;
    position: fixed;
    resize: both;
    transition: width 1ms, height 1ms;
    /*font-family: monospace;*/

}

.debug {
    position: absolute;
    background-color: hsla(0, 0%, 80%, 0.8);
    color: #111;
    margin: 25px;
    padding: 5px 7px;
    border-radius: 5px;
    white-space: pre;
    font-family: monospace;
    font-size: 14px;
}

#debug1 {
    top: 0;
    left: 0;
}

#debug2 {
    bottom: 0;
    left: 0;
}